<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.j0weiss.tyme</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>213980C6-0DA8-4596-8433-CDCD6AA2D07F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90CE04ED-1FAB-490C-AD37-698B7A34DBEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AEF3C25-FD9D-4762-856B-10FD70037C4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>213980C6-0DA8-4596-8433-CDCD6AA2D07F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35C1787F-94C0-40AE-9686-1B78E62CE88C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9790245-5CCA-410B-B92D-58A57958ED47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45CF32CA-8896-4267-BFE6-2C62451387D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>915CA066-11B9-48E8-99E4-0FE6CE0E7836</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A10E9C1-E40C-45D0-B059-4193931FCB68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C251EAA3-D455-426B-BC5B-57D7306C0262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>45CF32CA-8896-4267-BFE6-2C62451387D0</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Start task AND stop all currenty active tasks</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72FE093B-725F-4B84-B281-BE5AB761A7CC</key>
		<array/>
		<key>8CDB82D7-683A-4492-872D-7A93364371E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35C1787F-94C0-40AE-9686-1B78E62CE88C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90CE04ED-1FAB-490C-AD37-698B7A34DBEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA7EC2FA-D894-45B4-A05A-33890B1AE36C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C251EAA3-D455-426B-BC5B-57D7306C0262</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90CE04ED-1FAB-490C-AD37-698B7A34DBEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Johannes Weiß</string>
	<key>description</key>
	<string>Start and stop tasks in Tyme 2 with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tyme</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set taskID to "{query}"set theResult to ""tell application "Tyme2"	set taskIsActive to (trackedTaskIDs contains taskID)		if taskIsActive then		StopTrackerForTaskID taskID		set theResult to theResult &amp; "Stopped active task: "	else		StartTrackerForTaskID taskID		set theResult to theResult &amp; "Started task: "	end if			set theTask to the first item of (every task of every project whose id = taskID)	set taskName to the name of theTask		set theResult to theResult &amp; taskName	return theResultend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C251EAA3-D455-426B-BC5B-57D7306C0262</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ty</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching tasks ...</string>
				<key>script</key>
				<string>/usr/bin/python tyme.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start/Stop task</string>
				<key>title</key>
				<string>Track tasks in Tyme</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5A10E9C1-E40C-45D0-B059-4193931FCB68</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Tyme</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA7EC2FA-D894-45B4-A05A-33890B1AE36C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>90CE04ED-1FAB-490C-AD37-698B7A34DBEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Tyme</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>915CA066-11B9-48E8-99E4-0FE6CE0E7836</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set taskID to "{query}"tell application "Tyme2"
	set trackedTasks to trackedTaskIDs	repeat with tID in trackedTasks		StopTrackerForTaskID tID	end repeat		StartTrackerForTaskID taskID			set theTask to the first item of (every task of every project whose id = taskID)	set taskName to the name of theTask
	
	set theResult to "Stopped all active tasks and started task: " &amp; taskName	return theResultend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45CF32CA-8896-4267-BFE6-2C62451387D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tya</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching tasks ...</string>
				<key>script</key>
				<string>/usr/bin/python tyme.py -a "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Track active tasks in Tyme</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2AEF3C25-FD9D-4762-856B-10FD70037C4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set taskID to "{query}"tell application "Tyme2"	StopTrackerForTaskID taskID			set theTask to the first item of (every task of every project whose id = taskID)	set taskName to the name of theTask

	set theResult to "Stopped active task: " &amp; taskName	return theResultend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>213980C6-0DA8-4596-8433-CDCD6AA2D07F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Stopped all active tasks</string>
				<key>title</key>
				<string>Tyme</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C9790245-5CCA-410B-B92D-58A57958ED47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Tyme2"	set trackedTasks to trackedTaskIDs		repeat with taskID in trackedTasks		StopTrackerForTaskID taskID	end repeatend tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35C1787F-94C0-40AE-9686-1B78E62CE88C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tyst</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Stop all active tasks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8CDB82D7-683A-4492-872D-7A93364371E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tystats</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching information ...</string>
				<key>script</key>
				<string>/usr/bin/python tyme.py -stats</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get Statistics</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72FE093B-725F-4B84-B281-BE5AB761A7CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>213980C6-0DA8-4596-8433-CDCD6AA2D07F</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>2AEF3C25-FD9D-4762-856B-10FD70037C4D</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>35C1787F-94C0-40AE-9686-1B78E62CE88C</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>45CF32CA-8896-4267-BFE6-2C62451387D0</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>5A10E9C1-E40C-45D0-B059-4193931FCB68</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>72FE093B-725F-4B84-B281-BE5AB761A7CC</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>8CDB82D7-683A-4492-872D-7A93364371E9</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>90CE04ED-1FAB-490C-AD37-698B7A34DBEF</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>915CA066-11B9-48E8-99E4-0FE6CE0E7836</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>C251EAA3-D455-426B-BC5B-57D7306C0262</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C9790245-5CCA-410B-B92D-58A57958ED47</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>CA7EC2FA-D894-45B4-A05A-33890B1AE36C</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/j0weiss/alfred-tyme</string>
</dict>
</plist>
